* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #121212;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 500px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.header {
    background: linear-gradient(120deg, #3acbf0 0%, #8bb0ff 100%);
    padding: 24px;
    text-align: center;
    color: #fafafa;
}


.buttons{
    text-align: center;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    
}

.buttons button{
    margin-top: 10px;
    height: 100%;
    width: 16%;  
    font-size: 24px;
    cursor: pointer;
    border: 0;
    border-radius: 14px;
  
}